@keyframes textSizeAnimetion {
  0% {
    font-size: 100%;
  }

  100% {
    font-size: 1000%;
  }
}

span {
  animation-name: textSizeAnimetion;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
